html {
    background: #b2cd89;
}

#menu-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: .8;
    background: green;
    padding: 5px;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul, ol, label, option, input, p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 38px;
    padding: 1px;
    font-size: 16px;
    margin-left: 4px;
    margin-right: 4px;
}

select {
    font-size: 18px;
    text-align: center;
    width: 180px;
    height: 38px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 170px; 
}

p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    font-style: italic;
    font-size: 22px;
}

#then {
    width: 410px;
    justify-content: flex-end;
}

div.breakfast {
   
    width: 700px;
   

}

ul#pancake-ingredients, ol#pancake-instructions {
   
    
    width: 500px;
}

img.meal-img {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

h2, img.meal-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#card-holder {
    display: flex;
    flex-direction: row;
}